<h1>New Reply to: <%= @post.title %></h1>

<div class="well">
  <%= form_for [@post, @reply] do |f| %>
    <%= render 'shared/errors', object: @reply %>

    <%= render 'form', f: f %>
  <% end %> 
</div>
