<div class="row">
  <div class='span8 well'>
    "<i><%= reply.content %></i>"<br />
    <%= image_tag avatar_url(post.user) %> <%= "#{reply.user.email}" %> at <%= reply.created_at %> 
  </div>
</div>
